@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    // Colours
    --background-color: #191923;
    --text-color: #D2D1D7;
    --card-background-color: #8B7BDA;
    --card-text-color: #191923;
    --button-background-color: #4f46e5;

    // Fonts
    --primary-font: "Exo 2", sans-serif;
    --font-size: 16px;

    // Border radius
    --border-radius: 5px;
}  
